{% extends 'Common/Twig/base.html.twig' %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Edit Todo</h4></div>
    <div id="editTodo" class="panel-body" data-todo-id="{{ todo.id }}"></div>
</div>
<a class="lead" href="/todolist">Return to Todo List</a>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script data-main="/app/src/todoList/js/page/edit.js" src="/app/vendor/requirejs/require.js"></script>
{% endblock %}