{% extends 'Common/Twig/base.html.twig' %}
{% block content %}
<div id="main-container" class="panel panel-default"></div>
<a class="lead" href="/todolist">Return to Todo List</a>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script data-main="/app/src/todoList/js/page/edit.js" src="/app/vendor/requirejs/require.js"></script>
{% endblock %}