{% extends 'Common/Twig/base.html.twig' %}
{% block content %}
    <div id="main-container"></div>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script data-main="/app/src/todoList/js/page/index.js" src="/app/vendor/requirejs/require.js"></script>
{% endblock %}