{% if code is not null and code >= 0%}
    <div class="alert alert-success">{{ message | default('Everything ok!')}}</div>
{% elseif code is not null and code <= -1 %}
    <div class="alert alert-danger">{{ message | default('Oops! Something went wrong') }}</div>
{% endif %}